* {
  box-sizing: border-box; }

#catButtons{
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 556px;
}

#cardContent{
  display: none;
}

#canvas{
  display: none;
}

.gif {
  width: 100%;
  margin: 0 auto;

}

#face{
  padding-left:21%;
}


#photoPlus{

  width: 384px;
  height: 500px;
  margin: 0 auto;

  #pallette{

    display: block;
    margin: 0 auto;
    height: 60px;
    width: 384px;
    padding: 5px;
    background-color: gray;

  }

  .DominantColorBox{
    
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    height: 60px;
    width: 150px;
    background-color: black;

  }

  #facephoto{
    /*position: absolute;*/
    display: block;
    margin: 0 auto;
    padding-left: 60px;
    
    /*top: -87px;*/
    /*left: 14%;*/
    /*z-index: 2;*/

  }

  .colorBox{

    height: 50px;
    width: 50px;
    padding-right: 5px;
    display: inline-block;
    background-color: black;
  }

}




#faceframe {
  position: absolute;
  top: 141px;
  left: 43%;
  width: 229px;
  height: 274px;
  border-style: solid;
  border-color: red;
  border-width: 5px;
  z-index: 5;
}


#video {

/*  position: absolute;
  left: 26%;*/
  margin: 0 auto;
  display: block;

}
#snap{
  margin: 0 auto;
  margin-top: 30px;
  display: block;
}

#camera {
  margin-top: 100px;
}

body{

  margin-top: -100px;
}

.category-button {
  border: 1px solid black;
  background: none;
  padding: 20px;
  margin-right: 15px;
  cursor: pointer;
  outline: none; }
  .category-button.active {
    background: gainsboro; }  

.flash-card {
  width: 60%;
  height: 400px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid black;
  font-family: Helvetica;
  padding: 50px;
  box-shadow: 3px 4px 5px 1px #6b6b6b; }
  .flash-card h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px; }
  .flash-card .flash-card-answers {
    width: 100%;
    margin: 0 auto;
    clear: both; }
    .flash-card .flash-card-answers:before, .flash-card .flash-card-answers:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .flash-card .flash-card-answers:after {
      clear: both; }
  .flash-card .flash-card-answer {
    min-height: 100px;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    float: left;
    width: 32%;
    margin-right: 2%;
    cursor: pointer;
    line-height: 1.3em; }
    .flash-card .flash-card-answer:last-child {
      margin-right: 0; }

.answer-feedback {
  text-align: center;
  margin-top: 50px;
  font-weight: bold; }
  .answer-feedback.correct {
    color: green; }
  .answer-feedback.incorrect {
    color: red; }


/*#video {
  position: absolute;
  top: 30px;
  left: 5%;
  z-index: 1;
}*/





#statistics {
  position: fixed;
  top: 1px;
  right: 1px;
  padding: 40px; }
  #statistics:before, #statistics:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  #statistics:after {
    clear: both; }
  #statistics #scoreboard {
    float: right;
    margin: 0 auto; }
    #statistics #scoreboard h3 {
      margin-right: 40px;
      float: left; }
      #statistics #scoreboard h3:last-child {
        margin-right: 0; }
      #statistics #scoreboard h3 span {
        font-weight: bold; }
